
<h1 id="head">This is the home page!</h1>
<ul>
	<% 5.times do %>
		<li><%="Ruby is the schtitz!"%></li>
		<li><h6>Ruby is fantabulous!!!</h6></li>
	<% end %>
</ul>
<p><%= "nycda".upcase %> is located in the financial district.</p>

<p> <%= "#{@name} is from #{@city}." %> </p>
<p> Again, <%= @name %> is from <%= @city %> </p>



